<div class="container">
    <h1>{{ coin.name }}</h1>
    
    <!--Data list-->
    <dl class="row">
        
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.id }}</dd>
              <dd class="col-sm-8">Unique identifier for asset.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Rank</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.rank }}</dd>
              <dd class="col-sm-8">Rank is in ascending order - this number is directly associated with the marketcap whereas the highest marketcap receives rank 1.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Symbol</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.symbol }}</dd>
              <dd class="col-sm-8">Most common symbol used to identify this asset on an exchange.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.name }}</dd>
              <dd class="col-sm-8">Proper name for asset.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Supply</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.supply | assetPipe }}</dd>
              <dd class="col-sm-8">Available supply for trading.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Max Supply</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.maxSupply | assetPipe }}</dd>
              <dd class="col-sm-8">Total quantity of asset issued.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Market Cap Usd</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.marketCapUsd | usdPipe }}</dd>
              <dd class="col-sm-8">Supply x Price.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Volume Usd (24Hr)</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.volumeUsd24Hr | usdPipe }}</dd>
              <dd class="col-sm-8">Quantity of trading volume represented in USD over the last 24 hours.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Price Usd</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.priceUsd | currency }}</dd>
              <dd class="col-sm-8">Volume-weighted price based on real-time market data, translated to USD.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">Change Percent (24Hr)</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ (coin.changePercent24Hr ?? 0) / 100 | percent:'1.2-2' }}</dd>
              <dd class="col-sm-8">The direction and value change in the last 24 hours.</dd>
            </dl>
        </dd>

        <dt class="col-sm-3">VWAP (24Hr)</dt>
        <dd class="col-sm-9">
            <dl class="row">
              <dd class="col-sm-4">{{ coin.vwap24Hr | currency }}</dd>
              <dd class="col-sm-8">Volume Weighted Average Price in the last 24 hours.</dd>
            </dl>
        </dd>
    </dl>

    <!--History chart-->

    <!--Radio toggle buttons-->
    <input type="radio" class="btn-check" name="interval" value="m30" id="option5" autocomplete="off" [(ngModel)]="interval" checked>
    <label class="btn" for="option5">30 minutes</label>

    <input type="radio" class="btn-check" name="interval" value="h1" id="option6" autocomplete="off" [(ngModel)]="interval">
    <label class="btn" for="option6">1 hour</label>

    <input type="radio" class="btn-check" name="interval" value="h12" id="option7" autocomplete="off" [(ngModel)]="interval">
    <label class="btn" for="option7">12 hours</label>

    <input type="radio" class="btn-check" name="interval" value="d1" id="option8" autocomplete="off" [(ngModel)]="interval">
    <label class="btn" for="option8">1 day</label>

    <!--Verification of the interval value-->
    <p>Interval = {{ interval }}</p>
</div>