<div class="container">
    <h1>Coins</h1>
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Market Cap</th>
                <th scope="col">VWAP (24Hr)</th>
                <th scope="col">Supply</th>
                <th scope="col">Volume (24Hr)</th>
                <th scope="col">Change (24Hr)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coin of coins">
                <th scope="row">{{coin.rank}}</th>
                <td>{{coin.name}}</td>
                <td>{{coin.priceUsd}}</td>
                <td>{{coin.marketCapUsd}}</td>
                <td>{{coin.vwap24Hr}}</td>
                <td>{{coin.supply}}</td>
                <td>{{coin.volumeUsd24Hr}}</td>
                <td>{{coin.changePercent24Hr}}</td>
            </tr>
        </tbody>
    </table>
</div>