<div class="container coins-container">
    <h1>Coins</h1>

    <div class="col-md-4">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                   id="search" [(ngModel)]="searchString" name="search">
            <button class="btn btn-outline-dark" type="submit" (click)="searchCoins()">Search</button>
        </form>
    </div>

    <div class="table-container">
        <table class="table table-light table-hover" *ngIf="coins && coins.length > 0">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">VWAP (24Hr)</th>
                    <th scope="col">Supply</th>
                    <th scope="col">Volume (24Hr)</th>
                    <th scope="col">Change (24Hr)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable" *ngFor="let coin of coins" [routerLink]="['/coin', coin.id]">
                    <th scope="row">{{coin.rank}}</th>
                    <td>{{ coin.name }}</td>
                    <td>{{ coin.priceUsd | currency }}</td>
                    <td>{{ coin.marketCapUsd | currency }}</td>
                    <td>{{ coin.vwap24Hr | currency }}</td>
                    <td>{{ coin.supply | currency }}</td>
                    <td>{{ coin.volumeUsd24Hr | currency }}</td>
                    <td>{{ coin.changePercent24Hr | percent:'1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!coins || coins.length == 0">No coins foun.</p>
    </div>
</div>