.coins-container {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.table-container {
    margin-top: 20px; /* Adjust the margin as needed */
}

.table-hover tbody tr:hover {
    cursor: pointer;
}