<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Mint</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['coins']">Coins</a>
        </li>
      </ul>      
      <form class="d-flex" role="search" (ngSubmit)="onSubmit" #searchForm="ngForm">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
               id="search" [(ngModel)]="searchString" name="search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Search</div>
    <div class="col-xs-9">{{ searchString }}</div>
  </div>
</div>

<router-outlet></router-outlet>
